.showcase {
  display: flex;
  flexDirection: column;
  flexWrap: nowrap;
  width: 100%;
  height: 600px;
}

.viewer-component {
  width: 100%;
  height: calc(100% - 160px);
  flex: 1 1 100%;
}


.thumb-component {
  flex: 0 0 160px;
}
