.bg-image {
  background-image: url("//docs.neptunelabs.com/fsi/server?type=image&source=images/samples/grid/background/gradienta-t-Rt42Wl1RQ-unsplash.jpg&width=1920");
  background-repeat: no-repeat;
  background-position:right top;
  background-size:100% 100%;
  margin-left: 0 !important;
}

.thumbnail
{
  cursor: pointer;
}

div.fsi-imagegrid-inner-container > div {
  border: 1px solid #33333340;
  background-color: #6660;
}
