body, html {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: sans-serif;
}

.container {
  width:100%;
  height:100%;
  display:flex!important;
  flex-direction:column!important;
  flex-wrap:nowrap!important;
}

div, td {
  font-family: 'Open Sans', 'Helvetica Neue',Arial,sans-serif;

}

.comparison {
  background-color:#ffffff;
}

.text {
  text-align: center;
}

.image-container {
  padding-top: 3px;
}

.image {
  padding-top: 20px;
  display:inline-block;
}

.url {
  font-family: monospace;
}

.credit{
  font-size: x-small;
  color: #66666;
  text-align: right;
}
